<div class="accountsettingsbody">
	
	<div class="userpic">
		
	</div>

	<div class="userdetails">
		<h1>Account Settings</h1>
		<hr>
		<div class="userinfo">
			<h4>
				First Name: <input type="text">
			</h4>
			<h4>
				Last Name: <input type="text">
			</h4>
			<h4>
				Email: <input type="text">
			</h4>
			<h4>
				Location: <input type="text">
			</h4>
			<h4>
				Phone: <input type="text">
			</h4>
			<h4>
				Gender: <input type="text">
			</h4>
			<h4>
				Favorite Bike: <input type="text">
			</h4>
			<h4>
				Bio: <input type="text">
			</h4>
			<h4>
				Delete Account? Click <a href="">Here.</a>			
			</h4>
		</div>
	</div>























	
</div>