<!-- <div class="header">
<h2>Velopost!</h2>
</div> -->
<!--Intro to the landing page goes here-->
<body class= 'layout_body'>

<div class="intro">
		<h1><center>Welcome to Velopost!</center></h1>
</div>

<!--Sign up form area -->
<div class="signup">
	<h3><center>Sign up with us!</center></h3>
	<form action= '/signup' method='POST'>
		<p>
			<label for ='firstname'>First name</label>
			<input type='text' name='firstname'>
		</p>

		<p>
			<label for ='lastname'>Last name</label>
			<input type='text' name='lastname'>
		</p>

		<p>
			<label for ='email'>Email</label>
			<input type ='text' name='email'>
		</p>

		<p>
			<label for ='password'>Password</label>
			<input type ='password' name='password'>
		</p>

		<p>
			<input type="submit" value="Sign up">
		</p>
	</form>
</div>

<div class="content">
	<div class="sub"></div>
</div>
</body>