<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>VeloPost!</title>
	<link rel="stylesheet" type="text/css" href="css/indexstyles.css">
 	<link rel="stylesheet" href="../css/vpstyles.css">
</head>
<body>
	<div class="navbar">
		

		
	</div>

















<%=yield%>
	
	<footer class="footer">
		
	</footer>	
</body>
</html>