<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>VeloPost!</title>
	<link rel="stylesheet" type="text/css" href="css/indexstyles.css">
 	<link rel="stylesheet" href="../css/vpstyles.css">
</head>
<body>
	<div class="navbar">

		<ul class="toplinks">
			<li><a href="/feed">Home |</a></li>
			<li><a href="/profile">Profile |</a></li>
			<li><a href="/accountsettings">Settings |</a></li>
			<li><a href="/logout"><%= "#{check_login}" %></a></li>
			<li class='logo'>VeloPost</li>
		</ul>
	</div>
	
	<%= flash[:notice] if flash[:notice]%>
	<%= flash[:alert] if flash[:alert]%>



















<%=yield%>
	
	<footer class="footer">
		
	</footer>	
</body>
</html>