<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>VeloPost!</title>
	<link rel="stylesheet" type="text/css" href="css/indexstyles.css">
 	<link rel="stylesheet" href="../css/vpstyles.css">
</head>
<body>

<nav class="navbar"></nav>

















<%=yield%>	
</body>
</html>