<div class="jumboLogin">
	<h1>VeloPost</h1>
</div>

<div>
	<div class="loginbox">
	<h1>Log-In</h1>
	<div class="flashalert">
			<%= flash[:alert] if flash[:alert] %>
	</div>

		<form method="POST" action="/signin">

			<p>
				<label for="email">Email: </label>
				<input type="text" name="email">
			</p>
			<p>
				<label for="password">Password: </label>
				<input type="password" name="password">
			</p>
			<p>
				<input type="submit" value="Log In">
			</p>

		</form>
		
	</div>
	<div class="loginimage">
		
	</div>
	
</div>

