
	<div class='leftsidebar'>
		<img src='../images/avatar.png' class='profilepic'/>
		<p><u><h3><%="#{current_user.fname}'s"%> Bio</h3></u></p>
		<p>Cold-pressed art party twee 8-bit. Stumptown jean shorts lo-fi McSweeney's, dreamcatcher gluten-free hella forage quinoa readymade you probably haven't heard of them gastropub selfies food truck drinking vinegar. Polaroid letterpress tilde pour-over disrupt. Pork belly keytar ugh, Tumblr mumblecore locavore skateboard hashtag Marfa vinyl chia four dollar toast slow-carb deep v. Chambray distillery normcore banjo fingerstache, polaroid stumptown. Kickstarter migas cray pug. Etsy 3 wolf moon fixie pop-up health goth, paleo PBR.</p>
		<p>Cold-pressed art party twee 8-bit. Stumptown jean shorts lo-fi McSweeney's, dreamcatcher gluten-free hella forage quinoa readymade you probably haven't heard of them gastropub selfies food truck drinking vinegar. Polaroid letterpress tilde pour-over disrupt. Pork belly keytar ugh, Tumblr mumblecore locavore skateboard hashtag Marfa vinyl chia four dollar toast slow-carb deep v. Chambray distillery normcore banjo fingerstache, polaroid stumptown. Kickstarter migas cray pug. Etsy 3 wolf moon fixie pop-up health goth, paleo PBR.</p>
		<p>Cold-pressed art party twee 8-bit. Stumptown jean shorts lo-fi McSweeney's, dreamcatcher gluten-free hella forage quinoa readymade you probably haven't heard of them gastropub selfies food truck drinking vinegar. Polaroid letterpress tilde pour-over disrupt. Pork belly keytar ugh, Tumblr mumblecore locavore skateboard hashtag Marfa vinyl chia four dollar toast slow-carb deep v. Chambray distillery normcore banjo fingerstache, polaroid stumptown. Kickstarter migas cray pug. Etsy 3 wolf moon fixie pop-up health goth, paleo PBR.</p>
	</div>
	<div class="mainbody">
	<h1 class='username'><%="#{current_user.fname}'s"%> Recent Posts</h1>
	<p>Cold-pressed art party twee 8-bit. Stumptown jean shorts lo-fi McSweeney's, dreamcatcher gluten-free hella forage quinoa readymade you probably haven't heard of them gastropub selfies food truck drinking vinegar. Polaroid letterpress tilde pour-over disrupt. Pork belly keytar ugh, Tumblr mumblecore locavore skateboard hashtag Marfa vinyl chia four dollar toast slow-carb deep v. Chambray distillery normcore banjo fingerstache, polaroid stumptown. Kickstarter migas cray pug. Etsy 3 wolf moon fixie pop-up health goth, paleo PBR.</p>
	</p>
	</div>
	<div class="followers">
		<h1 class="followershead">
		<%="#{current_user.fname}'s"%> Followers</h1>	
		<div class="follwersprofiles">
			<img src='../images/avatar.png' />
			<img src='../images/avatar.png' />
			<img src='../images/avatar.png' />
		</div>
	</div>

