/*the completed layout for the lnading page options goes here */
.layout_body {
	background-image: url(../images/crank_shift.jpg);
	color: white;
	font-family: arial;
}

/*customized intro for the layout page*/
.intro {
	margin: 0;
	height: 20em;
	width: 99%;
	margin-left: -1px;
	margin-right: -40px;
	background: rgba(1,5,8, 0.6);
	border: 1px solid white;
}

.intro h1 {
	padding-top: 50px;
}
/*customized image within the intro class*/
.intro img {
	display: block;
	height: 58%;
	width: 35%;
    margin-left: auto;
    margin-right: auto;
}

/*customized signup for the layout page*/
.signup {
	margin: 0;
	height: 14em;
	width: 35%;
	float: left;
	margin-left: -2px;
	margin-top: 0px;
	margin-bottom: 50px;
	background: rgba(1,5,8, 0.6);
	border: 1px solid white;
}

/*customized content for the layout page*/
.content {
	margin: 0;
	height: 30em;
	width: 64%;
	float: right;
	margin-left: -30px;
	margin-right: 8px;
	margin-top: 0px;
	margin-bottom: -20px;
	background: rgba(1,5,8, 0.6);
	border: 1px solid white;
}
/*customized content for the image within the content class*/
.content img {
	display: block;
	height: 50%;
	width: 65%;
    margin-left: auto;
    margin-right: auto;
}