
/*NAV BAR*/

.navbar{
	margin: 0;
	position: fixed;
	height: 4em;
	width: 100%;
	margin-left: -10px;
	margin-top: -5px;
	border: 1px solid black;
	background: white;
	display: inline;
	top: 0;


}
/*STYLE FOR TOP LINKS*/
.toplinks{
	padding-top: 10px;
	list-style: none;
	font-size: 1.2em;

}
li{

	display: inline;

}
.logo{
	/*margin-left: 700px;*/
	margin-top: -15px;
	padding-right: 5px;
	float: right;
	font-size: 2.4em;
	font-weight: bold;
}


/*.navlogo{
	height: 50px;
	width: 50px;
	border: 1px dashed aqua;
	display: inline-block;
	float: left;
}*/

/*.header{
	display: inline;
	text-align: center;
}
*/


/*FOOTER*/
.footer{
	height: 4em;
	border:1px solid black;
	margin-top: 35%;
	clear: both;
	bottom: 0;
}
.bottomlinks{
	text-align: center;
}
/*LOGIN ERB STYLES*/

.jumboLogin{
	height: 30em;
	width: 100%;
	border: 1px solid black;
	padding-top:50px;
	background-image: url('../images/bgblur.jpg');
	color: white;
}

.jumbohead span{
	border: 1px solid white;

}

.loginbox, .loginimage{
	height: 30em;
	width: 49%;
	border: 1px black solid;
	float: left;
	margin-top: 20px;
}
.loginimage{
	margin-left: 28px;
}

.loginbox form{
	border: 1px solid black;
	height: 300px;
	width: 300px;
	margin: 0 auto;
	margin-top: 20px;
	border-radius: 30px;
}

.flashalert{
	height: 20px;
	margin: 0 auto;
	text-align: center;
	width: 300px

}

/*ACCOUNT SETTINGS STYLES*/

.accountsettingsbody{
	padding-top: 70px;
	height: 15em;
}

.userpic {
	margin-top: 20px;
	height: 150px;
	width: 150px;
	border: 1px solid black;
	float: left;
}

.userdetails{
	text-align: left;
	width: 900px;
	margin: 0 auto;
	padding-left: 50px;
	

}

.userinfo {
	border: 1px solid black;;
	width: 500px;
	margin: 0 auto;
	margin-top: 5em;
}

.updateinfo {
	border: 1px solid black;
	font-weight: 500;
	font-size: 10px;
}

.updateinfo:hover {
	background-color: #636363;
}

/*LINK STYLES*/
a:link{
	text-decoration: none;
	color: black;
}
a:visited{
	text-decoration: none;
	color: black;
}
a:hover{
	font-weight: bold;
}

.feedbody {
	padding-top:50px;
}







/*FLASH STYLES*/

.alert {
	text-align: center;
	color: red;
}





